<form>
  <h1>Criar tipo de contato</h1>

  <mat-form-field class="select-type-contact" appearance="fill">
    <mat-label>Tipo de contato</mat-label>
    <mat-select [formControl]="selected" required>
      <mat-option (click)="selectTypeContact('EMAIL')" value="EMAIL">EMAIL</mat-option>
      <mat-option (click)="selectTypeContact('TELEFONE')" value="TELEFONE">TELEFONE</mat-option>
      <mat-option (click)="selectTypeContact('CELULAR')" value="CELULAR">CELULAR</mat-option>
    </mat-select>
    <mat-error *ngIf="selected.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>{{contactValues.typeLabel}}</mat-label>
    <input matInput [formControl]="value" required type="{{contactValues.typeInput}}" name="valor"
      placeholder="Ex.: {{contactValues.placeholder}}">
    <mat-error *ngIf="value.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button [disabled]="getMessage()" class="mat-elevation-z8 button-save" mat-stroked-button>Salvar</button>
    <button class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
  </div>
</form>