.footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
  font-size: 0.8em;
  height: 5%;
  width: 100%;
  background-color: darkgreen;
  color: #fff;
}

img {
  height: 1.5em;
}

a {
  text-decoration: none;
  color: #fff;
}
